version: '2' 

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always
  rabbitmq:
    image: rabbitmq:3-management 
    ports:
      - "15672:15672"
      - "5672:5672"
    restart: always
  postgre:
    image: postgres:10-alpine
    restart: always
  alytics:
    command: sh ./startup.sh
    depends_on:
      - rabbitmq
      - postgre
    image: blacknote/alytics:matplotlib
    ports:
      - "8000:8000"
    restart: always
