<style>
.zoom{
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(2);
}
</style>
<script>
setTimeout('location.reload()', 7000);
</script> 
<table style="width:100%">
<tr>
<td>action</td>
<form action="#" method="post">
<td><input type="submit" class="button" value="Выполнить"/></td>
</form>
<td></td>
<td></td>
<form action="{% url 'crow_add' %}" method="post">{% csrf_token %}
<td><input type="submit" class="button" value="Добавить"/></td>
</form>
</tr>
<tr style="background-color:#AAA;">
<td>Функция</td><td>График</td><td>Интервал</td><td>Шаг</td><td>Дата обработки</td>
</tr>
{% for crow in crows %}
<tr>	<td>{{ crow }}</td> <td>{% if ".png" in crow.chart.url or ".gif" in crow.chart.url %}<div class="zoom"><img src="{{crow.chart.url}}" height="130" width="160"></img></div>{% else %}{{crow.chart}}{% endif %}</td>  <td>{{crow.period}}</td> <td>{{crow.dt}}</td> <td>{{crow.pub_date}}</td></tr>
{% endfor %}
</table>
